* {
	margin: 0;
	box-sizing: border-box;
}

.body {
	margin: 0;
	padding: 0;
}

.App {
	/* border: 1px solid red; */
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.password {
	/* border: 1px solid blue; */
	width: 450px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px;
	background-color: #ffff;
}

h2,
p {
	margin-top: 5px;
	margin-bottom: 3px;
}

.counter {
	border-top: 1px solid black;
	/* border: 1px solid red; */
	width: 450px;
	max-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	background-color: #ffff;
	padding-bottom: 10px;
}
.btns {
	display: flex;
	gap: 15px;
}
